{% extends 'partials/base.html.twig' %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 about-us__content">
            <div class="about-us__logo">
                <img src="{{ theme_url }}/images/monad_logo.jpg" alt="monad rock">
            </div>

            <div class="about-us__description">
                {{ page.content }}
            </div>
        </div>

        <div class="col-lg-8 about-us__bigimage">
            <img src="{{ theme_url }}/images/about-us_bigimage.jpg" alt="our team">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
