{% extends 'partials/base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <section id="body" class="home-bg">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 home__content">
                    <div class="home__logo">
                        <img src="{{ theme_url }}/images/monad_logo.jpg" alt="monad rock">
                    </div>

                    <div class="home__description">
                        {{ page.content }}
                    </div>
                </div>

                <div class="col-lg-8 home__bigimage">

                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {% block header_navigation %}
                    <nav class="main-nav">
                        {% include 'partials/navigation.html.twig' %}
                    </nav>
                    {% endblock %}
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}
