{% extends 'partials/base.html.twig' %}

{% block header %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-4 jobs__content">
            <div class="jobs__logo">
                <img src="{{ theme_url }}/images/monad_logo.jpg" alt="monad rock">
            </div>

            <div class="jobs__description">
            </div>
        </div>

        <div class="col-lg-8 jobs__bigimage">

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>

{% endblock %}

{% block footer %}

{% endblock %}
