// background
$brand-primary-color: #ff6900;
$background-color-main: #0f0f0f;

// font color
$font-color-primary: #c3c3c3;
$font-color-secondary: #fff;

// buttons
$btn-background-primary: lighten($background-color-main, 10%);
